<div class="login col-md-10 mx-auto col-lg-5 ">
  <img class="imaa" src="../../../assets/images/nj-removebg-preview.png">
    <form class=" form p-4 p-md-5 border rounded-3 bg-body-tertiary">
      <div class="text">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="checkbox mb-3">
        <label>
          <input class="check" type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Log In</button>
      <hr class="my-4">
      <small class="text-body-secondary">Not a customer? <a href=".." routerLink="/signin">Sign Up</a></small>
      <h6><a routerLink="/main">Return to home page</a></h6>
    </div>
    </form>
  </div>

