
<div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3  g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../assets/images/indian.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">
              <p class="card-text"><span>Indian Cuisine</span><br/>Indian cuisine is a variety king of flavors, spices, and regional specialties, and we are offering a diverse range of aromatic dishes, from fiery curries to savory street flavours.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/food" >View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/rate">Rate Us</button>
                </div>
                    </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../assets/images/indian sweet.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"/>
            <div class="card-body">
              <p class="card-text"><span>Mithai</span><br/>Indian sweets, or mithai, are an indulgent array of confections, offering a symphony of flavors and textures, from syrup-soaked gulab jamun to creamy, cardamom-infused kheer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/mithai" >View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/rate">Rate US</button>
                </div>
                    </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../assets/images/pexels-enginakyurt-1487511.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"/>
            <div class="card-body">
              <p class="card-text"><span>Italian Cuisine</span><br/>Italian cuisine is a celebration of simplicity and quality ingredients, featuring dishes like pasta, pizza, and risotto, often showcasing regional specialties and different variety of flavours.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/italian">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/rate">Rate US</button>
                </div>
                    </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../assets/images/pexels-xmtnguyen-699953.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"/>
            <div class="card-body">
              <p class="card-text"><span>Thai Cuisine</span><br/>Thai cuisine is a harmonious blend of sweet, sour, salty, and spicy flavors, with dishes like pad Thai, green curry, and tom yum soup, showcasing fresh herbs and aromatic spices.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/thai">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/rate">Rate US</button>
                </div>
                    </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../assets/images/korean.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"/>
            <div class="card-body">
              <p class="card-text"><span>Korean Cuisine</span><br/>Korean cuisine is characterized by its bold flavors, fermented ingredients, and emphasis on communal dining, featuring dishes like kimchi, bulgogi, and bibimbap. blah blah blah</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/korean">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/rate">Rate US</button>
                </div>
                    </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../assets/images/chinese.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"/>
            <div class="card-body">
              <p class="card-text"><span>Chinese Cuisine</span><br/>Chinese cuisine is a diverse culinary tradition with regional specialties like Sichuan's spicy dishes and Cantonese dim sum, featuring a balance of flavors, textures and presentation.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/chinese">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/rate">Rate US</button>
                </div>
                    </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../assets/images/japan.webp" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"/>
            <div class="card-body">
              <p class="card-text"><span>Japanese Cuisine</span><br/>Japanese cuisine is a delicate balance of flavors and textures, featuring dishes like sushi, sashimi, and ramen, known for its emphasis on fresh and seasonal ingredients.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/japanese">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/rate">Rate US</button>
                </div>
                    </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../assets/images/pexels-quang-nguyen-vinh-222549-2144200.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"/>
            <div class="card-body">
              <p class="card-text"><span>Bakery</span><br/>Bakery cuisine encompasses a range of baked goods crafted from flour, sugar, eggs, and other ingredients, spanning breads, pastries, cakes, and cookies.blah blah balsd</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/bakery">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/rate">Rate US</button>
                </div>
                    </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../assets/images/pexels-nicola-barts-7937485.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"/>
            <div class="card-body">
              <p class="card-text"><span>Drinks and Bevarages</span><br/>Drinks and beverages encompass a wide range of liquid refreshments, such as water, tea, coffee, juice and mojitos, often enjoyed for hydration, pleasure, or socializing.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/drinks">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/rate">Rate US</button>
                </div>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>