<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle arrow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             KHANA KHAZANA 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/main">Home</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/rate">Rate Us</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Contact Us</a></li>
              <li><a class="dropdown-item" href="#">Help</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="search_button form-control me-2" type="search" placeholder="Search your food here" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" height="20" routerLink="/login">Login</button>
          <button class="btn btn-outline-success" type="submit" routerLink="/signin">SignIn</button>
         
            <svg class="svg" routerLink="/cart"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1093.75 634.38" width="50" height="45" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
            <div style="font-size: 10px; height: 15px; margin-top: 25px; margin-right: 10px;" class="badge">{{totalItem}}</div>
        </form>
      </div>
    </div>
  </nav>