.navbar{
    height: 60px;
}
.btn{
    height: 35px;
    width: 100px;
    font-size: 15px;
    margin: 5px;
}
a{
    font-weight: bold;
}
a:hover{
    font-size: large;
}
ul li:hover ul{
    display: block;
} 
@media screen and (max-width:1200px) and (min-width:0px){
    .navbar{
        display: inline;
        margin: 10px;
    }
    a:hover{
        font-size:initial;
    }
    ul li:hover ul{
        display: flex;
        font-size:initial;
    } 
}
.badge{
    background-color:#198754 ;
}